.thanks {
    max-width: 1230px;
    height: auto;
    margin: 0 auto;
    padding: 30px 15px;
}

p {
    text-align: center;
    /* margin-top: 0; */
}

.thanks_button {
    text-align: center;
    margin-top: 50px;
}

button {
    color: #fff;
    background-color: #000000;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
}